/**
 * CSS Reset
 *
 * The provided stylesheet contains a series of CSS rules designed
 * to establish foundational styling and behavior standards for web elements.
 */

// Apply border-box sizing to all elements and remove default border styles
*, *::before, *::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: currentColor;
}

// Reset margin for all elements
* {
	margin: 0;
}

// Prevent text size adjustments in all browsers
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

// Set the minimum block size of the body to 100% of
// the viewport height and add typography tweaks
body {
	min-block-size: 100vh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

// Enable text wrap balance for headings
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

// Apply overflow wrap for headings and paragraphs
h1, h2, h3, h4, h5, h6, p {
	overflow-wrap: break-word;
}

// Remove list styles. Unstyled lists are not announced as lists by VoiceOver.
// If your content is truly a list but you would like to keep it unstyled,
// add a “list” role to the element
:is(ul, ol)[role='list'] {
	padding: 0;
	list-style: none;
}

// Ensure media elements are displayed as blocks
img, svg, video, canvas, audio, iframe, embed, object {
	display: block;
}

// Make media elements responsive within their containers
img, picture, video, canvas, svg {
	inline-size: 100%;
	block-size: auto;
}

// Inherit font styles for input, button, textarea, and select elements
input, button, textarea, select {
	font: inherit;
}

// Set a minimum block size for textareas that do not specify rows
textarea:not([rows]) {
	min-block-size: 10em;
}

// Scroll adjustment for targeted elements
:target {
	scroll-margin-block: 5ex;
}
