.center {
	--center-gap: var(--space-sm-lg);
	--center-width: 94rem;

	box-sizing: content-box;
	max-inline-size: var(--center-width, 80rem);
	padding-inline: var(--center-gap, 1rem);
	margin-inline: auto;

	// Remove gap from a nested .center element
	& > .center {
		--center-gap: 0;
	}
}

// Center child elements based on their content width
.center--intrinsic {
	display: flex;
	flex-direction: column;
	align-items: center;
}
