@use 'sass:meta';
@use '../tokens';

.stack {
	& > * {
		margin-block-start: 0;
	}

	& > * + * {
		margin-block-start: var(--stack-space, 1rem);
	}
}

// =========================================================
// Modifiers
// =========================================================

.stack-flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

// Apply custom spacing based on design tokens
@each $key, $value in tokens.$space {
	@if meta.type-of($value) == 'map' {
		@each $subKey, $subValue in $value {
			.stack-space-#{$subKey} {
				--stack-space: var(--space-#{$subKey});
			}
		}
	} @else {
		.stack-space-#{$key} {
			--stack-space: var(--space-#{$key});
		}
	}
}
